{% extends "base.html" %}
{% block title %} Student Details{% endblock title %}
{% block content %}
<table id="myTable" class="table table-borderless cell-border my-3 hover">
    <!--no border-->
    <thead class="border-bottom fw-bold">
        <!--bold text-->
        <tr>
            <td>Full Name</td>
            <!--<td style="text-align:center;">Mobile</td>-->
            <td>Student ID</td>
            <td style="text-align:center;">
                <a href="{% url 'student_insert' %}" class="btn btn-outline-success">
                    <i class="fa-solid fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        <tr>
            <td>{{student.fullname}}</td>
            <!--<td style="text-align:center;">{{student.mobile}}</td>-->
            <td>{{student.stud_code}}</td>
            <td style="text-align:center;">
                <a href="{% url 'student_update' student.id %}" class="btn text-danger px-0">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <form action="{% url 'student_delete' student.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn"> <i class="fa-solid fa-trash float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}