{% extends "base.html" %}
{% block title %} CRUD Operations {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.fullname|as_crispy_field}}
    {{form.mobile|as_crispy_field}}
    {{form.stud_code|as_crispy_field}}
    {{form.address|as_crispy_field}}
    <button type="submit" class="btn btn-success btn-block btn-lg me-3"><i
            class="fa-solid fa-floppy-disk me-2"></i>Submit</button>
    <a href="{% url 'student_list' %}" class="btn btn-success btn-block btn-lg">
        <i class="fa-solid fa-stream me-2"></i>Back to List
    </a>
</form>
{% endblock content %}